name: Build & Publish to Docker Hub

on:
  workflow_dispatch:
  push:
    branches:
      - master
env:
  APP: amneziawg-go

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    if: github.repository_owner == 'eyrafir'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: master
        
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - name: Set release tag
      run: echo "RELEASE=dev-$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
        
#    - name: Debug refs
#      run: |
#        echo "ref: $GITHUB_REF"
#        echo "ref_name: $GITHUB_REF_NAME"
#    
#    - name: Set environment variables
#      run: echo RELEASE=$(cat ./src/package.json | jq -r .release | jq -r .version) >> $GITHUB_ENV

    - name: Build & Publish Docker Image
      uses: docker/build-push-action@v6
      with:
        push: true
        platforms: linux/amd64,linux/arm64/v8
        #platforms: linux/amd64,linux/arm/v5,linux/arm/v7,linux/arm64/v8
        tags: |
          eyrafir/amneziawg-go:${{ env.RELEASE }}
          eyrafir/amneziawg-go:latest
